{% extends 'product/_template.html.twig' %}

{% block title %}{{ 'Product - %name% - Variants :: KingsMeal' | trans({'%name%': product.name}) }}{% endblock %}
{% block content_classes "paddingsless" %}

{% block product_content %}

    <table class="table">
        <thead>
            <tr>
                <th>{{'Name' | trans}}</th>
                <th class="pull-right" style="width: 100px;">{{'Price' | trans}}</th>
                <th class="pull-right" style="width: 220px;">{{'Actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for product_variant in product_variants %}
            <tr>
                <td>{{ product_variant.name }}</td>
                <td class="pull-right">{{ product_variant.price }}</td>
                <td class="pull-right">
                    <div class="buttons-group button-group-pull-right">
                        <a href="{{ path('product_variant_delete', {'product_id': 1, 'id': product_variant.id}) }}" class="button button-small">{{'Delete' | trans}}</a>
                        <a href="{{ path('product_variant_edit', {'product_id': 1, 'id': product_variant.id}) }}" class="button button-small">{{'Edit' | trans}}</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert">
                        <div class="alert-message">{{ 'Variants not found' | trans}}</div>
                        <div class="alert-actions button-small">
                            <a href="{{ url('product_variant_new', {product_id: product.id}) }}" class="button">{{ 'Create first variant?' | trans }}</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
