{% extends 'admin.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th style="width: 75px;">&nbsp;</th>
                <th>{{ 'Title' | trans }}</th>
                <th style="width: 215px;" class="pull-right">{{ 'Actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{% if category.imageFilename != null %}<img src="{{ asset('uploads/photos/' ~ category.imageFilename) }}" class="small-image" />{% endif %}</td>
                <td>{{ category.name }}</td>
                <td class="pull-right">
                    <div class="buttons-group button-group-pull-right">
                        <a href="{{ path('category_show', {'id': category.id}) }}" class="button button-small">{{ 'Show' | trans }}</a>
                        <a href="{{ path('category_edit', {'id': category.id}) }}" class="button button-small">{{ 'Edit' | trans }}</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert">
                        <div class="alert-message">{{ 'Can not find any category' | trans }}</div>
                        <div class="alert-actions">
                            <a href="{{ url('category_new') }}" class="button">{{ 'Create first category?' | trans }}</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
