{% extends 'admin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Товары</h1>

    <table class="table">
        <thead>
            <tr>
                <th width="50">Id</th>
                <th>Название</th>
                <th width="125" class="pull-right">Цена</th>
                <th width="200">Категории</th>
                <th width="225" class="pull-right">Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td class="pull-right">{{ "%.2f" | format(product.price) }} грн</td>
                <td>{{ product.categoriesNames }}</td>
                <td class="pull-right">
                    <div class="buttons-group button-group-pull-right">
                        <a href="{{ path('product_show', {'id': product.id}) }}" class="button button-small">Показать</a>
                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="button button-small">Редактировать</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">
                    <div class="alert">
                        <div class="alert-message">Товары не найдены</div>
                        <div class="alert-actions">
                            <div class="buttons-group">
                                <a href="{{ url('product_new') }}" class="button">Создать продукт</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
