{% extends 'admin.html.twig' %}

{% block title %}{{ 'Product :: KingsMeal' | trans}}{% endblock %}

{% block body %}
    <h1>{{ 'Product' | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th width="50">{{'ID'|trans}}</th>
                <th>{{'Name'|trans}}</th>
                <th width="125" class="pull-right">{{'Price'|trans}}</th>
                <th width="200">{{'Categories'|trans}}</th>
                <th width="225" class="pull-right">{{'Actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td class="pull-right">{{ "%.2f" | format(product.price) }} {{'UAH'|trans}}</td>
                <td>{{ product.categoriesNames }}</td>
                <td class="pull-right">
                    <div class="buttons-group button-group-pull-right">
                        <a href="{{ path('product_show', {'id': product.id}) }}" class="button button-small">{{'Show'|trans}}</a>
                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="button button-small">{{'Edit'|trans}}</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">
                    <div class="alert">
                        <div class="alert-message">{{'Product not found'|trans}}</div>
                        <div class="alert-actions">
                            <div class="buttons-group">
                                <a href="{{ url('product_new') }}" class="button">{{ 'Create first product?' | trans }}</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}
