{% extends 'product/_template.html.twig' %}

{% block title %}{{ 'Product - %name% :: KingsMeal' | trans({'%name%': product.name}) }}{% endblock %}
{% block content_classes "paddingsless" %}

{% block product_content %}

    <table class="table details-table">
        <tbody>
        <tr>
            <th>{{'ID'|trans}}</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>{{'Name'|trans}}</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>{{'Price'|trans}}</th>
            <td>{{ product.price | number_format(2) }} грн</td>
        </tr>
        <tr>
            <th>{{'Description'|trans}}</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>{{'Image'|trans}}</th>
            <td><img src="{{ asset('uploads/photos/' ~ product.photoFilename) }}" width="125" /></td>
        </tr>
        <tr>
            <th>{{'Categories'|trans}}</th>
            <td>{{ product.categoriesNames }}</td>
        </tr>
        </tbody>
    </table>

    {% include 'product/_delete_form.html.twig' with { 'product': product } %}
    <div style="margin-top: 16px;"></div>

    <a href="{{ path('product_index') }}" class="button"><i class="icon">📃</i>{{ 'Back to Products' | trans }}</a>

{% endblock %}
