{% extends 'product/_template.html.twig' %}

{% block title %}{{ product.name }} :: King'sMeal{% endblock %}
{% block content_classes "paddingsless" %}

{% block product_content %}

    <table class="table details-table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Название</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Цена</th>
            <td>{{ product.price | number_format(2) }} грн</td>
        </tr>
        <tr>
            <th>Описание</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Фотография</th>
            <td><img src="{{ asset('uploads/photos/' ~ product.photoFilename) }}" width="125" /></td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}" class="button"><i class="icon">📃</i>Вернуться к списку товаров</a>

{% endblock %}
