{% extends 'admin.html.twig' %}

{% block title %}{{'Order - %orderId% :: KingsMeal'|trans({'%orderId%': order.id})}}{% endblock %}

{% block body %}
    <h1>{{'Order'|trans}}</h1>

    <table class="table details-table details-table-large">
        <tbody>
            <tr>
                <th>{{'Order Number'|trans}}</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>{{'Payment Method'|trans}}</th>
                <td>{% if order.paymentMethod == 'card' %}{{'Card'|trans}}{% else %}{{'Courier'|trans}}{% endif %}</td>
            </tr>
            <tr>
                <th>{{'Full Name'|trans}}</th>
                <td>{{ order.fullName }}</td>
            </tr>
            <tr>
                <th>{{'Delivery Address'|trans}}</th>
                <td>{{ order.fullAddress }}</td>
            </tr>
            <tr>
                <th>{{'Order Status'|trans}}</th>
                <td>{% apply spaceless %}
                        {% if order.status == 'new' %}{{'New'|trans}}{% endif %}
                        {% if order.status == 'unprocessed' %}{{'Unprocessed'|trans}}{% endif %}
                        {% if order.status == 'done' %}{{'Finished'|trans}}{% endif %}
                    {% endapply %}</td>
            </tr>
            <tr>
                <th>{{'Products'|trans}}</th>
                <td>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{'Product'|trans}}</th>
                            <th style="width: 75px;" class="pull-right">{{'Quantity'|trans}}</th>
                            <th style="width: 75px;" class="pull-right">{{'Price per item'|trans}}</th>
                            <th style="width: 75px;" class="pull-right">{{'Total Price'|trans}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for orderedProduct in order.products %}
                            <td>{% apply spaceless %}
                                    <span>{{ orderedProduct.product.name }}</span>
                                    {% if orderedProduct.variant != null %}
                                        &nbsp;-&nbsp;<span>{{ orderedProduct.variant.name }}</span>
                                    {% endif %}
                                {% endapply %}</td>
                            <td class="pull-right">{{ orderedProduct.quantity }}</td>
                            <td class="pull-right">{{ orderedProduct.price | number_format(2) }} {{'UAH'|trans}}</td>
                            <td class="pull-right">{{ (orderedProduct.price * orderedProduct.quantity) | number_format(2) }} {{'UAH'|trans}}</td>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th>{{'Phone Number'|trans}}</th>
                <td><a href="tel:{{ order.phoneNumber }}">{{ order.phoneNumber }}</a></td>
            </tr>
            {% if order.status != 'done' %}
            <tr>
                <th>{{'Actions'|trans}}</th>
                <td>
                    <form class="button-group" method="post" action="{{ url('order_update', { id: order.id }) }}">
                        <input type="submit" class="button" value="{{ 'Mark as Finished' | trans }}" />
                    </form>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
